## ProjF2 - Data Exploration

Use this document as a template to provide some exploratory analysis of your data similar to the one in ProjC1. You are welcome to go in as much depth as needed.

Make sure you keep the sections specified in this template, but you are welcome to add more cells with your code or explanation as needed.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 1. Load and Visualize Data -- Raphael

Let's start by loading your entire dataset or a sample if it is a larger dataset.

In [2]:
### YOUR CODE HERE
data = pd.read_csv("data/AD.csv")
sample = data.sample(500, random_state=420)
sample

,Unnamed: 0,res_id,date,inflow,release,storage,storage_pre,release_pre,net_inflow,storage_roll7,release_roll7,inflow_roll7,storage_x_inflow,release_pre2,inflow2,sto_diff,const
4698,261524,1101,1992-11-18,1346214.4,3058214.4,72419000.0,74131000.0,3058214.4,1346214.4,7.818500e+07,2.481519e+06,1.555518e+06,9.979622e+13,9.352675e+12,1.812293e+12,-0.031983,1
5605,262431,1101,1995-05-14,367027.2,367027.2,134562000.0,134562000.0,367027.2,367027.2,1.321500e+08,3.495497e+05,1.171027e+06,4.938791e+13,1.347090e+11,1.347090e+11,-0.004332,1
3001,259827,1101,1988-03-27,3547625.6,611625.6,51378000.0,48442000.0,611625.6,3547625.6,4.665986e+07,1.328128e+06,1.223290e+06,1.718541e+14,3.740859e+11,1.258565e+13,-0.006808,1
10317,267143,1101,2008-04-07,17615000.0,0.0,459221000.0,441606000.0,0.0,17615000.0,3.255336e+08,6.815479e+05,3.075686e+07,7.778890e+15,0.000000e+00,3.102882e+14,0.655242,1
7442,264268,1101,2000-05-24,734588.8,2446588.8,181780000.0,183492000.0,2446588.8,734588.8,1.920209e+08,2.446589e+06,4.194459e+05,1.347912e+14,5.985797e+12,5.396207e+11,-0.066892,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5118,261944,1101,1994-01-12,-244748.8,1223251.2,41836000.0,43304000.0,2446588.8,-244748.8,4.473714e+07,1.747539e+06,1.363110e+06,-1.059860e+13,5.985797e+12,5.990198e+10,-0.002807,1
4842,261668,1101,1993-04-11,27279342.4,122342.4,122084000.0,94927000.0,122342.4,27279342.4,5.791386e+07,2.114554e+06,1.156880e+07,2.589546e+15,1.496766e+10,7.441625e+14,0.232589,1
4702,261528,1101,1992-11-22,5015561.6,2079561.6,72419000.0,69483000.0,3058214.4,5015561.6,7.287300e+07,3.058214e+06,2.114550e+06,3.484963e+14,9.352675e+12,2.515586e+13,-0.025230,1
3755,260581,1101,1990-04-20,3425017.6,8563017.6,310959000.0,316097000.0,8563017.6,3425017.6,3.308461e+08,7.458529e+06,2.586343e+06,1.082638e+15,7.332527e+13,1.173075e+13,-0.142176,1
9775,266601,1101,2006-10-13,244219.2,1957219.2,85385000.0,87098000.0,1957219.2,244219.2,9.227071e+07,1.957219e+06,2.446478e+05,2.127100e+13,3.830707e+12,5.964302e+10,-0.022726,1

Provide some visualization of the data. For example,
- If your data is time series, you can plot a sequence and the response or label.
- If tabular data, you can plot histograms of the data.
- If working with image recognition or segmentation, you can show an image and the corresponding output.
- If it is a video that you are processing, just show screenshots.
- If doing something with reinforcement learning, you can provide samples of the simulation environment used.

In [3]:
### YOUR CODE HERE
# sequence diagram for release
# correlation plot for all variables and release
plt.show()

### 2. Compute Some Statistics from your Data -- Adharsh

First, extract some characterisitics about the input (e.g., image size, means and standard deviation of values, sample frequency).

In [4]:
### YOUR CODE HERE

Next, provide some characteristics about your output (e.g., histograms, spatial distribution of bounding boxes in the case of object detection, etc.). In the case of cases such as tasks such as reinforcement learning, you can provide details about the desired output and rewards used. You can show some correlations between inputs and outputs if possible.

In [5]:
### YOUR CODE HERE

### 3. Comment on Your Data -- Jiheun

Answer these questions as appropriate?
- Is your data balanced?
- Are there disparities in your input data? Does it show some specific patterns?

`### Comment here`